*, ::before, ::after {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    background-image: url('https://st3.depositphotos.com/2712843/14504/i/450/depositphotos_145046321-stock-photo-blurred-hospital-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    background-color: #0C2233;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
}
nav h1 {
    font-size: 2em;
    margin: 0 1em;
    color: #fff;
}

.back-btn {
    background-color: #0A91AB;
    color: #fff;
    font-weight: 600;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border: none;
    margin: 2em 0;
    position: absolute;
    right: 20px;
}

.content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
h1 {
    font-size: 2em;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin: .5em 1em;
}
.form-group {
    display: flex;
    flex-direction: column;
}
input {
    width: 350px;
    height: 25px;
    outline: none;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #0C2233;
    box-shadow: rgba(0, 0, 0, 0.5);
}

.my-button {
    background-color: #0A91AB;
    color: #fff;
    font-weight: 600;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border: none;
    margin: 2em 0;
}

form {
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    background-color: #0C2233   ;
}
label {
    font-size: 1.5em;
}